.App {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  min-height: 100vh;
  overflow-x: hidden;
}
.App .btn {
  background-color: #679347;
  border-color: #679347;
  box-shadow: 2px 2px 5px #b29b8a;
}
.App .btn-primary {
  --bs-btn-bg: #527937;
  --bs-btn-border-color: #527937;
  --bs-btn-hover-bg: #527937;
  --bs-btn-hover-border-color: #527937;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-bg: #527937;
  --bs-btn-active-border-color: #527937;
  --bs-btn-disabled-bg: #527937;
  --bs-btn-disabled-border-color: #527937;
}
.App .btn:hover {
  background-color: #527937;
  border-color: #527937;
}
